#cover1 {
	background: url(../img/cover1.jpg) no-repeat #e8e8e8;
	@include background-size(cover);
	.valign {
		height: 600px;
	}
	h1, p {
		color: #101010;
		@include respond(all-phones) {
			background-color: rgb(160, 160, 160);
			background-color: rgba(160, 160, 160, 0.9);
			padding: 15px;
		}
	}
	h1.xlarge {
		font-weight: $font-weight-bold;
		white-space: nowrap;
		@include respond(all-phones) {
			@include font-size($xxxlarge);
		}
		padding-top: 0.05em;
		padding-bottom: 0.05em;
	}
}

#cover2 {
	background: url(../img/cover2.jpg) no-repeat #e8e8e8;
	@include background-size(cover);
	height: 500px;
}

#cover3 {
	background: url(../img/cover3.jpg) no-repeat #e8e8e8;
	@include background-size(cover);
	height: 500px;
}

#cover4 {
	background: url(../img/cover4.jpg) no-repeat #e8e8e8;
	@include background-size(cover);
	height: 500px;
}

.info-box {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	img {
		padding-bottom: 25px;
	}
	p {
		text-align: center;
	}
}

.info-box-addon {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	@include respond(all-phones) {
		padding-top: 0;
	}
}

#faq-box {
	padding-top: 50px;
	h2 {
		padding-bottom: $larger;
	}
	#faq-header {
		text-align: center;
		img {
			padding-bottom: 50px;
		}
	}
	#faq-content {
		.question {
			font-weight: $font-weight-semibold;
			margin-bottom: 0;
		}
		.answer {
			margin-bottom: $med;
		}
	}
}

/* Flexible iFrame */
.Flexible-container {
	position: relative;
	padding-bottom: 75%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}